
.container{
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}
.container section > div{
  padding-top: 3.25rem;
}

.container section{
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media(max-width: 720px){
  .container section{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 2rem;
  }
  
}